:root {
  --clr-green-900: #2a4144;
  --clr-green-600: #0c7d69;
  --clr-green-500: #86a2a5;
  --clr-green-200: #e0f1e8;
  --clr-red: #d73c3c;
  --clr-white: #ffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  /* min-height: 100vh; */
  color: var(--clr-green-900);
  background: var(--clr-green-200);
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
